.uv_cache/
__pycache__/
cache3d/
media_preview/
frames_preview/
render_preview.log
media_v2/
frames_v2/
preflight_v2.log
render_v2.log
media_v3/
frames_v3/
preflight_v3.log
render_v3.log
media_v4/
frames_v4/
preflight_v4.log
render_v4.log
